<header class=" u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-header u-section-row-container"
        id="sec-5ba5" style="" data-animation-name="" data-animation-duration="0" data-animation-delay="0"
        data-animation-direction="">
    <div class="u-section-rows">
        <div class="u-hidden-md u-hidden-sm u-hidden-xs u-palette-2-base u-section-row u-section-row-1" id="sec-e0e9">
            <div class="u-clearfix u-sheet u-sheet-1">
                <a href="tel:+919825711438"
                   class="u-active-none u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1"><span
                        class="u-file-icon u-icon u-text-white u-icon-1"><img
                        src="{{ url_for('static', filename='images/16359583-d323fecf.png') }}" alt=""></span>+91 98257
                    11438
                </a>
                <p class="u-heading-font u-text u-text-default u-text-1">24x7 Trusted Service | We are now servicing all
                    of Surat.</p>
            </div>


        </div>
        <div class="u-section-row" data-animation-name="" data-animation-duration="0" data-animation-delay="0"
             data-animation-direction="" id="sec-5c24">
            <div class="u-clearfix u-sheet u-sheet-2">
                <a href="{{ url_for('index') }}"><img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1"
                     src="{{ url_for('static', filename='/images/Logo.webp') }}" alt="" data-image-width="150"
                                                      data-image-height="38"></a>
                <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1">
                    <div class="menu-collapse" style="font-size: 1.11111rem;">
                        <a class="u-button-style u-custom-left-right-menu-spacing u-nav-link" href="#"
                           style="padding: 2px 0px; font-size: calc(1em + 4px);">
                            <svg class="u-svg-link" viewBox="0 0 24 24">
                                <use href="#svg-95ac"></use>
                            </svg>
                            <svg class="u-svg-content" id="svg-95ac" viewBox="0 0 16 16" x="0px" y="0px"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <rect y="1" width="16" height="2"></rect>
                                    <rect y="7" width="16" height="2"></rect>
                                    <rect y="13" width="16" height="2"></rect>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="u-custom-menu u-nav-container">
                        <ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      href="{{ url_for('index') }}"
                                                      style="padding: 10px 0px;">Home</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      href="{{ url_for('assist') }}"
                                                      style="padding: 10px 0px;">Get Assistance</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      href="{{ url_for('partner_register') }}"
                                                      style="padding: 10px 0px;">Partners</a>
                            </li>
                        </ul>
                    </div>
                    <div class="u-custom-menu u-nav-container-collapse">
                        <div class="u-container-style u-inner-container-layout u-palette-2-base u-sidenav">
                            <div class="u-inner-container-layout u-sidenav-overflow">
                                <div class="u-menu-close"></div>
                                <ul class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-right-xs u-custom-font u-heading-font u-nav u-popupmenu-items u-unstyled u-nav-2">
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                              href="{{ url_for('index') }}">Home</a>
                                    </li>
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                              href="{{ url_for('assist') }}">Get
                                        Assistance</a>
                                    </li>
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                              href="{{ url_for('partner_register') }}">Partners</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="u-menu-overlay u-opacity u-opacity-80 u-palette-2-base"></div>
                    </div>
                </nav>
            </div>


        </div>
    </div>
</header>