<!DOCTYPE html>
<html style="font-size: 18px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords"
          content="Privacy Policy, ​Information We Collect, ​How We Use Your Information, ​Information Sharing and Disclosure, ​Data Security, ​Your Choices and Rights, ​Children&amp;apos;s Privacy, ​Changes to this Privacy Policy, ​Contact Us">
    <meta name="description" content="">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/privacy-policy.css') }}" media="screen">
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"
            defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/nicepage.js') }}"
            defer=""></script>
    <meta name="referrer" content="origin">

    <script type="application/ld+json">{
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "bm-partner",
        "sameAs": [
            "tel:+919825711438",
            "mailto:queries@bharatmechanic.com",
            "https://www.facebook.com/bharatmechanic",
            "https://instagram.com/bharat_mechanic_official"
        ]
    }</script>
    <meta name="theme-color" content="#fd683d">
    <meta property="og:title" content="Privacy Policy">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <script>
        function gdprConfirmed() {
            return true;
        }

        function dynamicLoadScript(src) {
            let script = document.createElement('script');
            script.src = src && typeof src === 'string' ? src : 'https://www.google.com/recaptcha/api.js?render=6LcyZqgpAAAAAP1zKxx42FZUjp_2caw_NeQIc1j0';
            script.async = true;
            document.body.appendChild(script);
            script.onload = function () {
                let event = new CustomEvent("recaptchaLoaded");
                document.dispatchEvent(event);
            };
        }

        document.addEventListener('DOMContentLoaded', function () {
            let confirmButton = document.querySelector('.u-cookies-consent .u-button-confirm');
            if (confirmButton) {
                confirmButton.onclick = dynamicLoadScript;
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            if (!gdprConfirmed()) {
                return;
            }
            dynamicLoadScript();
        });
    </script>
    <script>
        document.addEventListener("recaptchaLoaded", function () {
            if (!gdprConfirmed()) {
                return;
            }
            (function (grecaptcha, sitekey, actions) {
                let recaptcha = {
                    execute: function (action, submitFormCb) {
                        try {
                            grecaptcha.execute(
                                sitekey,
                                {action: action}
                            ).then(function (token) {
                                let forms = document.getElementsByTagName('form');

                                for (let i = 0; i < forms.length; i++) {
                                    let fields = forms[i].getElementsByTagName('input');

                                    for (let j = 0; j < fields.length; j++) {
                                        let field = fields[j];

                                        if ('recaptchaResponse' === field.getAttribute('name')) {
                                            field.setAttribute('value', token);
                                            break;
                                        }
                                    }
                                }
                                submitFormCb();
                            });
                        } catch (e) {
                            let formError = document.querySelector('.u-form-send-error');

                            if (formError) {
                                formError.innerText = 'Site Owner Error: ' + e.message.replace(/:[\s\S]*/, '');
                                formError.style.display = 'block';
                            }
                        }
                    },

                    executeContact: function (submitFormCb) {
                        recaptcha.execute(actions['contact'], submitFormCb);
                    }
                };

                window.recaptchaObject = recaptcha;
            })(
                grecaptcha,
                '6LcyZqgpAAAAAP1zKxx42FZUjp_2caw_NeQIc1j0',
                {'contact': 'contact'}
            );
        });
    </script>
    <meta data-intl-tel-input-cdn-path="{{ url_for('static', filename='intlTelInput/') }}">
</head>
<body data-path-to-root="/" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
{% include 'headers/header-landing.html' %}
<section class="u-align-left u-clearfix u-palette-2-light-3 u-section-1" id="sec-2cf8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
            <h1 style="text-align: left;">Privacy Policy</h1>
            <p style="text-align: left;">Bharat Mechanic, a brand under Five Tyres Automotive Services Private Limited
                ("Bharat Mechanic," "we," "us," or "our"), is committed to protecting the privacy and security of your
                personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your
                information when you use our website (the "Site") and our mobile application (the "App"), collectively
                referred to as the "Platform."</p>
        </div>
    </div>
</section>
<section class="u-clearfix u-container-align-center u-white u-section-2" id="sec-c12b">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-left u-container-style u-layout-cell u-left-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <h3 class="u-align-left u-heading-font u-text u-text-palette-1-base u-text-1">1.</h3>
                            <h2 class="u-align-left u-heading-font u-text u-text-2"> Information We Collect</h2>
                            <div class="u-align-left u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                            <p class="u-align-left u-text u-text-font u-text-grey u-text-3"> We may collect personal
                                information from you when you access or use the Platform</p>
                        </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                        <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-2">
                            <p class="u-align-left u-text u-text-4">This information includes, but is not limited to</p>
                            <ul class="u-align-left u-text u-text-5">
                                <li>Contact information (such as name, email address, phone number)</li>
                                <li>Location information</li>
                                <li>Vehicle information (such as make, model, license plate number)</li>
                                <li>Payment information (such as credit card details)</li>
                                <li>Communications and interactions with us (such as service requests, feedback, and
                                    support inquiries)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-container-align-center u-palette-2-light-3 u-section-3" id="carousel_0ade">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-left u-container-style u-layout-cell u-left-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <h3 class="u-align-left u-heading-font u-text u-text-palette-1-base u-text-1">2.</h3>
                            <h2 class="u-align-left u-heading-font u-text u-text-2"> How We Use Your Information</h2>
                            <div class="u-align-left u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                            <p class="u-align-left u-text u-text-font u-text-grey u-text-3"> We may use the information
                                we collect for various purposes.</p>
                        </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <p class="u-align-left u-text u-text-4">This includes, but is not limited to</p>
                            <ul class="u-align-left u-text u-text-5">
                                <li> Providing and improving our services</li>
                                <li>Responding to your inquiries and requests</li>
                                <li>Processing payments and transactions</li>
                                <li>Communicating with you about our services, promotions, and updates</li>
                                <li>Analyzing usage trends and preferences to enhance user experience</li>
                                <li>Complying with legal and regulatory requirements</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-container-align-center u-white u-section-4" id="carousel_0bdd">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-left u-container-style u-layout-cell u-left-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h3 class="u-align-left u-heading-font u-text u-text-palette-1-base u-text-1">3.</h3>
                            <h2 class="u-align-left u-heading-font u-text u-text-2"> Information Sharing and
                                Disclosure</h2>
                            <div class="u-align-left u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                        </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                        <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-container-layout-2">
                            <p class="u-align-left u-text u-text-3"> In addition to the purposes outlined in Section 2,
                                we may share your information, including payment information, with third parties under
                                the following circumstances:</p>
                            <ul class="u-align-left u-text u-text-4">
                                <li> With third-party payment processors and financial institutions to process payments
                                    and transactions made on the Platform. Please note that we do not store or have
                                    access to your complete payment card details, as they are securely processed and
                                    stored by the payment processor in compliance with industry standards and
                                    regulations.
                                </li>
                                <li>With our authorized service providers and business partners who assist us in
                                    facilitating payments, fraud prevention, and other financial activities related to
                                    our services.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-container-align-center u-palette-2-light-3 u-section-5" id="carousel_63e8">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-left u-container-style u-layout-cell u-left-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <h3 class="u-align-left u-heading-font u-text u-text-palette-1-base u-text-1">4.</h3>
                            <h2 class="u-align-left u-heading-font u-text u-text-2"> Data Security</h2>
                            <div class="u-align-left u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                            <p class="u-align-left u-text u-text-font u-text-grey u-text-3">Rest assured. Your data is
                                in safe hands.</p>
                        </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <p class="u-align-left u-text u-text-4"> We take reasonable measures to protect your
                                personal information, including payment information, from unauthorized access,
                                disclosure, alteration, or destruction. However, please note that while we strive to
                                maintain the security of your information, no method of transmission over the Internet
                                or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-container-align-center u-white u-section-6" id="carousel_f4a5">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-left u-container-style u-layout-cell u-left-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                        <div class="u-container-layout u-valign-top-xl u-container-layout-1">
                            <h3 class="u-align-left u-heading-font u-text u-text-palette-1-base u-text-1">5.</h3>
                            <h2 class="u-align-left u-heading-font u-text u-text-2"> Your Choices and Rights</h2>
                            <div class="u-align-left u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                        </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <p class="u-align-left u-text u-text-3"> You may choose not to provide certain personal
                                information, including payment information, but this may limit your ability to access
                                certain features or services of the Platform. You have the right to access, correct, or
                                delete your personal information, subject to applicable legal requirements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-container-align-center u-palette-2-light-3 u-section-7" id="carousel_fdfd">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-left u-container-style u-layout-cell u-left-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                        <div class="u-container-layout u-valign-top-xl u-container-layout-1">
                            <h3 class="u-align-left u-heading-font u-text u-text-palette-1-base u-text-1">6.</h3>
                            <h2 class="u-align-left u-heading-font u-text u-text-2"> Children's Privacy</h2>
                            <div class="u-align-left u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                        </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <p class="u-align-left u-text u-text-3"> The Platform is not directed to individuals under
                                the age of 18, and we do not knowingly collect personal information from children. If
                                you believe that we have inadvertently collected personal information from a child,
                                please contact us immediately.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-container-align-center u-white u-section-8" id="carousel_ea80">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-left u-container-style u-layout-cell u-left-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                        <div class="u-container-layout u-valign-top-xl u-container-layout-1">
                            <h3 class="u-align-left u-heading-font u-text u-text-palette-1-base u-text-1">7.</h3>
                            <h2 class="u-align-left u-heading-font u-text u-text-2"> Changes to this Privacy Policy</h2>
                            <div class="u-align-left u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                        </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <p class="u-align-left u-text u-text-3"> We may update this Privacy Policy from time to time
                                to reflect changes in our practices or applicable laws. We will notify you of any
                                material changes by posting the updated policy on the Platform or by other means.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-container-align-center u-palette-2-light-3 u-section-9" id="carousel_233c">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-left u-container-style u-layout-cell u-left-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                        <div class="u-container-layout u-valign-top-xl u-container-layout-1">
                            <h3 class="u-align-left u-heading-font u-text u-text-palette-1-base u-text-1">8.</h3>
                            <h2 class="u-align-left u-heading-font u-text u-text-2"> Contact Us</h2>
                            <div class="u-align-left u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                        </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-similar-fill u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <p class="u-align-left u-text u-text-3"> If you have any questions, concerns, or requests
                                regarding this Privacy Policy or our data practices, please contact us at:</p>
                            <p class="u-align-left u-text u-text-4">
                                <span style="font-weight: 700;"> Five Tyres Automotive Services Pvt. Ltd.</span>
                                <br>J-1140, Rajhans Synfonia, CB Patel Road, Surat - 395007<br>Email: <span
                                    style="text-decoration: underline !important; font-weight: 700;">info@bharatmechanic.com</span>
                                <br>Phone: <span style="font-weight: 700;">+91 98257 11438</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-10" id="sec-4984">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-shape-rectangle u-size-38 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h3 class="u-text u-text-default u-text-1">Sign Up with us to boost your garage
                                business.</h3>
                            <p class="u-text u-text-2">Share your name and email in the form below to have our team
                                reach out to you.</p>
                            <div class="u-expanded-width u-form u-form-1">
                                {% include 'vendor-sub-form.html' %}
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-hidden-xs u-layout-cell u-palette-2-base u-shape-rectangle u-size-22 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h5 class="u-text u-text-3">Businesses registered with us see a significant boost in the
                                number of vehicles they service every day.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
</body>
</html>